
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movie Galore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        .mybackground {
            background-repeat: no-repeat;
            background-image: url("Images/bridge.jpg");
            background-attachment: fixed;
            background-position: center;
            background-size: 100%;
            height: 100vh;
        }
    </style>
</head>
<body class="mybackground">
    <div class="text-center">
        <h1 class="display-4">Welcome to Our Movie Galore</h1>
        <style>
        </style>
        <p>We decided to add some of our favorite disney movies here.</a>.</p>
    </div>
</body>
