<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Privacy Policy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    
</head>
<style>
    
        body {background-image:url("Images/Old movie.jpeg;")}
        h1 {color:black; text-decoration-style:dotted}
        p {color: mediumblue; text-emphasis-style:circle; text-decoration-line:blink}
    
</style>
<body>
    <h1>@ViewData["Title"] Privacy Policy</h1>
    <p>
        This privacy policy ("policy") will help you understand how Movie Galore ("us", "we", "our") uses and protects the data you provide to us when you visit and use MovieGalore.

        We reserve the right to change this policy at any given time, of which you will be promptly updated. If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this page.

        <b>What User Data We Collect</b>

       <b> When you visit the website, we may collect the following data:

        · Your IP address.

        · Your contact information and email address.

        · Other information such as interests and preferences.

        · Data profile regarding your online behavior on our website.</b>

       <b>
           Why We Collect Your Data

           We are collecting your data for several reasons:

           · To better understand your needs.

           · To improve our services and products.

           · To send you promotional emails containing the information we think you will find interesting.

           · To contact you to fill out surveys and participate in other types of market research.

           · To customize our website according to your online behavior and personal preferences.
       </b>
    </p>

</body>
