@model Movies
<h2>Create a New Movie</h2>
@using (Html.BeginForm("InsertMovieToDatabase", "Movie", "Post"))
{
    <input asp-for="ID" type="hidden" value="" />
    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="" />
    <label asp-for="Price" class="control-label">Price</label>
    <input type="number" step="0.01" name="Price" class="form-control" />
    <div class="form-group">
        <label for="">Select a Release Date</label>
        <select class="form-control" name="ReleaseDate" value="">
            @foreach (var cat in Model.Categories)
            {
                <option value="@cat.ReleaseDate">@cat.ReleaseDate @cat.Name</option>
            }
        </select>
    </div>
    <input type="submit" value="Create Movie" class="btn btn-primary" />
}

